.carousel .curr {
  display: block;
  width: 300px;
  height: auto;
  justify-content: center;
  margin: 100px auto;
}

.prev{
  margin-right: 70px;
}
.carousel-buttons{
  display: flex;
  justify-content: center;
}

.container-of-carousel h2{
  color: var(--main-color);
  margin-top: 50px;
  font-size: 48px;
}

.container-of-carousel img{
  height: 200px;
  width: auto;
}


#carouselExampleControls{
  background-image: url(../img/panorama-background-short.jpg);
  background-repeat: repeat;
}

#carouselExampleControls img{
  height: 400px;
  width: auto;
}