@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

:root{
  --main-color: #F8B710;
  --gray-color: #595959;
  --nunito-font: 'Nunito Sans', sans-serif;
  --teko-font: 'Teko', sans-serif;
}

html {
  scroll-behavior: smooth;
}


body{
    background-color: white;
    max-width: 980px;
    margin: auto; 
}

.logo-bird{
  background-color: transparent!important;
  width: 123px;
  height: 44.89px;
  display: block;
  cursor: pointer;
}

nav{
  display:flex;
  justify-content: space-between;
  padding: 13px 24px 20px 12px;
}

.burger-icon {
  font-size: 1.8rem;
  color: #ffffff;
}

#burger-checkbox {
  display: none;
}

header .menu {
  display: none;
}

header input:checked ~ .menu {
  display: flex;
}

header .menu {
  flex-direction: column;
  align-items: flex-start;
  font-size: 26px;
}

header .menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 3px;
}

.menu{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 100%;
}

header .menu a:hover {
  color: var(--main-color);
}


header{
  background-image: url(../img/main-background.png);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
  padding: 20px;
  padding-bottom: 500px;
  /* background-size: 139%;
  background-position-x: left 100%;
  background-position-y: bottom;
  background-repeat: no-repeat; */
}



@media (max-width: 756px){
  header{

    position: static;
    background-repeat: no-repeat;
    background-size: 210%;
    background-position-x: 20%;
  }

  .stats{
    display: flex;
    flex-direction: column;
  }

  /* #services-img{
    width: 400px;
  } */
}

@media (min-width: 757px){
  header{
    background-image: url(../img/main-background.png);
    position: static;
    background-repeat: no-repeat;
    background-size: 210%;
    background-position-x: 35%;
    /* position: static;
    background-position-x: 11%;
    background-position-y: 55%;
    background-size: 150%;
    background-repeat: no-repeat; */
  }

  /* #services-img{
    width: 30px;
  } */

}

@media (min-width: 990px){
  header{
    background-image: url(../img/main-background.png);
    background-position: center;
    background-position-x: 5%;
    background-position-y: 1%;
    background-size: 180%;
    background-repeat: no-repeat;
  }

@media (min-width: 1040px){
  header{
    background-position: left top;
    background-position-x: 5%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 140%;
  }
}

  header .menu {
    flex-direction: column;
    align-items: flex-end;
    font-size: 17px;
  }

}
@media (min-width: 990px) {
  header nav {
      display: flex;
  }

  .burger-icon {
      display: none;
  }

  header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}


.banner h1{
  font-family: 'Teko', sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: var(--main-color);
  display: flex;
  justify-content: left;
  margin: 10px;
}

@media (min-width: 757px){
  .banner h1{
    font-family: 'Teko', sans-serif;
    font-size: 97px;
    color: var(--main-color);
  }
}


.banner p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
  font-weight: 700;

}

.under-banner{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-top: 40px;
}

.under-banner-button-book{
  text-decoration: none;
  color:black;
  display: inline-block;
  padding: 18px 30px;
  background: white;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  font-weight: 700;
}

.under-banner-button-book:hover{
  background: var(--main-color);
  color: white;
}

.under-banner-button-lat-videos{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 18px 30px;
  background: transparent;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  font-weight: 700;
}

.under-banner-button-lat-videos:hover{
  text-decoration: underline;
  color: var(--main-color);
}

.stats h2{
  font-family: 'Teko', sans-serif;
  font-size: 90px;
  color: #f8b710;
  font-weight: 700;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-stats p{
  display: flex;
  justify-content: space-around;
  font-family: var(--nunito-font);
  color: var(--gray-color);
  font-weight: 700;
}

.article-stats h2{
  display: flex;
  justify-content: space-around;
}


h2{
  font-family: var(--teko-font);
  font-size: 38px;
  color: #242426;
  text-align: center;
  font-weight: 600;
}

h4{
  font-family: var(--nunito-font);
  font-size: 19px;
  color: var(--gray-color);
  font-weight: 600;
  text-align: center;
  padding-bottom: 40px;
}


.w-section{
  padding: 40px 0px 60px;
}

.line{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


.services-body h3{
  font-family: var(--teko-font);
  font-size: 24px;
  color:#242426;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
  /* margin: 1px 50%; */
}

.line-animation{
  height: 3px;
  width: 12%;
  background: var(--main-color);
  text-align: center;
  vertical-align: baseline;
  margin: 5px 44% 5px;
}
.services-body h5{
  font-family: var(--nunito-font);
  font-size: 17px;
  color: var(--gray-color);
  padding-bottom: 0px;
  padding-top: 10px;
}

.card-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .services-img{
  padding: auto;
} */


.w-section-after-services{
  padding-bottom: 0px;
}

.panorama{
  background-image: url(../img/panorama-background.png);
  background-position: top;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.panorama-photo img{
  width: 601.333px;
  height: 234px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.about-us-line{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#about-us h2{
  color: white;
  padding-top: 50px;
}

.line-blue{
  width: 60px;
}

#about-us h4{
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.expressions{
  background-image: url(../img/panorama-background.png);
  background-position-y: 60%;
}

/* .expressions .about-body .about-body-images img{
  
} */

.about-body-images{
  width: 35px;
}

.exp-h{
  font-family: var(--teko-font);
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.exp-p{
  font-family: var(--nunito-font);
  font-size: 17px;
  color: white;
  font-weight: 400;
}

.ab-exp{
  padding-top: 30px;
}
/*


.services h3{
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  color: #242426;
}
.services h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: #595959;
}
.panorama img{
  width: 1170px;
  height: 457px;
  display: block;
  margin: auto;
}
#about-us h2{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #ffffff;
}
#about-us h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}
#about-us article h4{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}
#about-us article p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #ffffff;
}
#pricing h2{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #ffffff;
}
#pricing .pricing-cont{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}
#pricing article .pricing-category{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
}
#pricing .dollar-sign{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #f8b710;
}
.pricing-list{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #595959;
}
.pricing-book-button{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.make-choice h2{
  font-family: 'Teko', sans-serif;
  font-size: 95px;
  color: #ffffff;
}
.make-choice h2 span{
  font-family: 'Teko', sans-serif;
  font-size: 95px;
  color: #f8b710;
}
.make-choice h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}
.second-button-book{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #f8b710;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  text-decoration: none;
  padding: 20px;
}
.learn-more{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: skyblue;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding: 17px 36px;
}
#our-team .instructor-name{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
  font-weight: 700;
}
#our-team h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: #595959;
}
#faq th p{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
}
#faq td p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #595959;
}
footer li{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #242426;
} */