@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

body{
    background-color: blueviolet;
    max-width: 980px;
    margin: auto;
}

.logo-bird{
  background-color: transparent!important;
  width: 123px;
  height: 44.89px;
  display: block;
  cursor: pointer;
}

nav{
  display:flex;
  justify-content: space-between;
  padding: 30px 24px 30px 24px;
}

.burger-icon {
  font-size: 2rem;
}

#burger-checkbox {
  display: none;
}

header .menu {
  display: none;
}

header input:checked ~ .menu {
  display: flex;
}

header .menu {
  flex-direction: column;
  align-items: flex-start;
}

header .menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  padding: 3px;
}

header .menu a:hover {
  font-weight: bold;
}
/* https://github.com/RomanRDQ/css-practice/blob/gh-pages/img/main-background.png?raw=true */
header{
  background-image: url(img\main-background.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
  /* background-size: 139%;
  background-position-x: left 100%;
  background-position-y: bottom;
  background-repeat: no-repeat; */
}

@media (max-width: 774px){
  header{
    background-position-x: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 990px) {
  header nav {
      display: flex;
  }

  .burger-icon {
      display: none;
  }

  header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }
}













/* .nav-list a{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;

}

li{
  list-style-type: none;
  
}

.banner h1{
  font-family: 'Teko', sans-serif;
  font-size: 130px;
  color: #f8b710;
}

.banner p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}

.under-banner a{
  color:#18181e;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.stats h2{
  font-family: 'Teko', sans-serif;
  font-size: 90px;
  color: #f8b710;
}

.stats p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: #595959;
}
h2{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #242426;
}

h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #595959;
}
.services h3{
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  color: #242426;
}
.services h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: #595959;
}
.panorama img{
  width: 1170px;
  height: 457px;
  display: block;
  margin: auto;
}

#about-us h2{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

#about-us h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}

#about-us article h4{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

#about-us article p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #ffffff;
}

#pricing h2{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

#pricing .pricing-cont{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}

#pricing article .pricing-category{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
}

#pricing .dollar-sign{
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #f8b710;
}

.pricing-list{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #595959;
}

.pricing-book-button{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}


.make-choice h2{
  font-family: 'Teko', sans-serif;
  font-size: 95px;
  color: #ffffff;
}
.make-choice h2 span{
  font-family: 'Teko', sans-serif;
  font-size: 95px;
  color: #f8b710;
}
.make-choice h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  color: #ffffff;
}

.second-button-book{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #f8b710;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  text-decoration: none;
  padding: 20px;
}

.learn-more{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: skyblue;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding: 17px 36px;
}

#our-team .instructor-name{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
  font-weight: 700;
}

#our-team h5{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: #595959;
}
#faq th p{
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: #242426;
}
#faq td p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #595959;
}

footer li{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  color: #242426;
} */